# Default ignored files
/shelf/
/workspace.xml
/vcs.xml
/compiler.xml
/deploymentTargetDropDown.xml
/kotlinc.xml
/misc.xml
/migrations.xml
/inspectionProfiles/Project_Default.xml
/appInsightsSettings.xml
/deploymentTargetSelector.xml
/material_theme_project_new.xml
/other.xml
/codeStyles/Project.xml
